.people__heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

@media (max-width: 868px) {
  .people__heading {
    /* padding: 0; */
    margin: 0 auto 100px;
    text-align: center;
  }
}
