.people__heading {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;

}

@media (max-width: 868px) {
  .people__heading {
    padding: 0;
    max-width: 550px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (max-width: 597px) {
  .people__heading {
    max-width: 260px;
  }
}