.places__title {
  grid-area: title;
  margin-top: 12px;
  margin-bottom: 0;
}

@media (max-width: 868px) {
  .places__title {
    grid-area: auto;
    z-index: 1;
    padding: 0 50px;
    background-color: transparent;
    text-align: center;
    color: #fff;
  }
}

@media (max-width: 398px) {
  .places__title {
    padding-left: 25px;
    padding-right: 25px;
  }
}
