.title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 34px;
  max-width: 450px;
}

@media (max-width: 868px) {
  .title {
    max-width: none;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em #3b3b3b, 0 0 0.2em black;
  }
}


@media (max-width: 398px) {
  .title {
    font-size: 28px;
  }
}