.title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 34px;
  max-width: 450px;
}

@media (max-width: 868px) {
  .title {
    max-width: none;
  }
}


@media (max-width: 398px) {
  .title {
    font-size: 28px;
  }
}
