.place__card {
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
  row-gap: 20px;
  background-color: #f2f2f2;
}

@media (max-width: 868px) {
  .place__card {
    order: 2;
    z-index: 2;
    background-color: transparent;
  }
}

@media (max-width: 398px) {
  .place__card {
    padding-left: 30px;
    padding-right: 30px;
    row-gap: 25px;
  }
}
