.page__people {
  max-width: 1140px;
  width: 100%;

}

@media (max-width: 800px) {
  .page__people {
    padding: 70px;
    max-width: 750px;
  }
}

@media (max-width: 560px) {
  .page__people {
    padding: 50px;
  }
}