.place__text {
  margin: 0;
  align-self: flex-start;
  max-width: 445px;
  line-height: 1.5;
}

@media (max-width: 868px) {
  .place__text {
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em #000000, 0 0 0.2em black;
  }
}
