.places__caption {
  grid-area: caption;
  align-self: end;
  margin-top: 0;
  margin-bottom: 12px;
}

@media (max-width: 868px) {
  .places__caption {
    grid-area: auto;
    z-index: 1;
    max-width: 445px;
    background-color: transparent;
    text-align: center;
  }
}
