.places__intro {
  display: grid;
  padding: 70px 70px 100px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "caption image"
    "title image";
}

@media (max-width: 868px) {
  .places__intro {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(288px, 508px);
    position: relative;
    grid-template-areas: none;
    padding: 0;
  }

  .places__intro::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #2A2C2F;
    opacity: .3;
    z-index: 1;
  }
}
