.places__intro {
  display: grid;
  box-sizing: border-box;
  padding: 60px 60px 100px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "caption image"
    "title image";
}
