.header__btns {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style-type: none;
}

@media (max-width: 668px) {
  .header__btns {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 625px) {
    .header__btns {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }