/* .intro__heading-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

@media (max-width: 868px) {
  .intro__heading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
  }
}
 */
