.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 30px;
  list-style-type: none;

}

@media (max-width: 568px) {
  .header__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 368px) {
  .header__list {
    gap: 15px;
  }
}
